@using WebApplication2.Entity
@model WebApplication2.Models.OrderDetailsModel
@{
    ViewBag.Title = "Detaylar";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Sipariş Detay Bilgileri</h2>
            <hr />

            <div class="row">

                <div class="col-sm-3">Sipariş Durumu++</div>
                <div class="col-sm-9">
                    @if (Model.OrderState == EnumOrderState.Waiting)
                    {
                        <span class="badge-danger">Onay Bekliyor</span>
                    }
                    else if (Model.OrderState == EnumOrderState.Completed)
                    {
                        <span class="badge-success">Sipariş Tamamlandı</span>
                    }
                </div>

                <div class="col-sm-3">Sipariş ID</div>
                <div class="col-sm-9">@Model.OrderId</div>

                <div class="col-sm-3">Sipariş Numarası</div>
                <div class="col-sm-9">@Model.OrderNumber</div>

                <div class="col-sm-3">Toplam</div>
                <div class="col-sm-9">
                    <i class="fa fa-try" aria-hidden="true"></i>
                    @Model.Total
                </div>

                <div class="col-sm-3">Sipariş Tarihi</div>
                <div class="col-sm-9">@Model.OrderDate</div>

                <div class="col-sm-3">Adres</div>
                <div class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Semt - @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </div>

                <div class="col-sm-3">Ürünler</div>
                <div class="col-sm-9">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th style="width: 45%;">Ürün Adı</th>
                                <th>Miktar</th>
                                <th>Fiyat</th>
                                <th style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Orderlines)
                            {
                                <tr>
                                    <td>
                                        <img src="/Upload/@item.Image" width="70" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        <i class="fa fa-try" aria-hidden="true"></i>
                                        @item.Price
                                    </td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Ürün Detayları
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
